*.pyc
*.pyo
*.swp
*.egg-info

__pycache__
build
cache
dist
htmlcov
venv
docs/src/
_version.py

.build
.coverage
.coverage.develop
.eggs
.install
.lint
.mypy_cache
.python-version
.static
.tox
.twinecheck
.venv
.vscode
.win-tox

# Robot output
log.html
output.xml
report.html